<ol class="breadcrumb">
    <li><a ng-click="showUserHome()">Home: {{currentUser}}</a></li>
    <li class="active">Edit Profile</li>
 </ol>
<form ng-submit="updateProfile()">
	<label>Description</label>
 	<input type="text" ng-model="userProfile.description">
 	<label>Offering</label>
 	<input type="text" ng-model="userProfile.offering">
 	<label>Seeking</label>
 	<input type="text" ng-model="userProfile.seeking">
 	<label>Address</label>	
 	<input type="text" ng-model="userProfile.address">
 	<label>WebSite</label>
 	<input type="text" ng-model="userProfile.website">
 	
	<input type = 'submit'/>
</form>
<div>
 <pre>
   {{ userProfile | json}}
 </pre>
 <pre>
 	{{newTag.value}}
 </pre>
</div>