<div class="jumbotron">
  <h1>Welcome</h1>
  <p class="lead">
    I Offer:
    	<ui-select multiple ng-model="queryTags.seekingQueryTags" theme="select2" ng-disabled="disabled" style="width: 300px;">
    	<ui-select-match placeholder="Select something...">{{$item}}</ui-select-match>
    	<ui-select-choices repeat="t in allTags | filter:$select.search">
      		{{t}}
    	</ui-select-choices>
  	</ui-select>
	</p>
	<p class="lead">
    I Seek:
    	<ui-select multiple ng-model="queryTags.offeringQueryTags" theme="select2" ng-disabled="disabled" style="width: 300px;">
    	<ui-select-match placeholder="Select something...">{{$item}}</ui-select-match>
    	<ui-select-choices repeat="t in allTags | filter:$select.search">
      		{{t}}
    	</ui-select-choices>
  	</ui-select>

	</p>
  <p><a class="btn btn-lg btn-success" ng-click="searchSystem()">Search!<span class="glyphicon glyphicon-ok"></span></a></p>
  
</div>
 <ul id="tag-cloud">
 	<li class="tag-cloud" ng-repeat="t in availableColors" >{{t}}</li>
 </ul>
<div>
</div>
<div class="row marketing">
 <table class="table table-bordered">
 <th>Result</th><th>Looking for</th><th>Offering</th><th>Do something</th>
  <tbody ng-repeat="res in searchResults">
  
  <tr><td>{{res.name}}</td><td>{{res.seeking_tags}}</td><td>{{res.offering_tags}}</td><td>link to something!</td></tr>
  </tbody>
 </table>
  <pre>
   {{ queryTags.seekingQueryTags|json}} 
 </pre>
</div>
